/* reset */

*{ margin:0; padding: 0; box-sizing: border-box; }
a{display: block; text-decoration: none;}
li{list-style-type: none;}
img{display: block; max-width: 100%;}

/* reset */


html, body{
    font-family: 'Gothic A1', sans-serif;
}